.Dialogs {
   
    display: grid;
    grid-template-areas: "s n";
    grid-template-columns: 2fr 10fr;
}

.Dialog {

    padding: 10px;
}


.Messages {
    padding: 10px;
    display: grid;
    grid-template-rows: 30px 1fr;
    
}